.App {
  text-align: center;
  margin-top: 34px;
  color: grey;
  
}
.linkk{
  border-bottom: solid 3px;
  border-color: rgb(11, 147, 165);
  width: 22%;
 margin-left: 38%;
}
.link {
  text-decoration: none;
  font-size: 29px;
  color: grey;
 

}
.link:hover{
  color: rgb(11, 147, 165);
}
.nested-services{
  
  margin-top: 27px;
  line-height: 48px;
  border: solid 3px;
  border-color: rgb(11, 147, 165);
  width: 22%;
  margin-left: 38%;

 
}
